@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
  font-family: 'Distant Galaxy';
  src: url(SfDistantGalaxy-0l3d.ttf);
}

@font-face {
  font-family: 'Star Jedi';
  src: url(StarJediRounded-jW3R.ttf);
}

  html, body {
    margin: 0;
    padding: 0;
    background-image: url(Death-Star-BG.jpg);
    background-size: cover;
    font-family: 'Kanit';
    font-weight: 500;
  }

 
  h4 {
    color: white;
    font-family: 'Star Jedi';
    font-size: 25px;
  }

  h5 {
    font-size: 22px;
    margin: 15px;
  }

  .start_btn, .info_box, .quiz_box, .result_box {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  /* .info_box.activeInfo {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  } */

  .info_box.activeInfo, .quiz_box.activeQuiz, .result_box.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }

  .info_box, .quiz_box, .result_box {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
  }

  /* INFO BOX */

  .info_box {
    background-color: #36454F;
    width: 550px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid lightgray;
  }

  .info_box .info_title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid lightgray;
    font-size: 23px;
  } 

  .info_box .info_title img {
    width: 13%;
  }

  .info_box .info_list .info {
    padding: 5px 5px;
  }

  .info {
    color: white;
  }

  /*  QUESTION BOX */

  .quiz_box {
    background: #36454F;
    width: 550px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: white;
  }

  .quiz_box header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 0 30px;
    font-size: 20px;
    font-family: 'Star Jedi';
  }
  
  .quiz_box header .question_counter_container {
    background-color: lightgray;
    width: 33%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: black;
  }

  .quiz_box header .question_counter {
    color: black;
    width: 53%;
    border-radius: 5px;
    background: #FFE81F;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quiz_box header .question_counter span p {
    display: inline;
    padding: 0 5px;
    font-size: 15px;
  }

  .quiz_box section {
    padding: 10px 30px;
  }

  .quiz_box section .que_text {
    font-size: 20px; 
  }

  .quiz_box section .option {
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray;
    background-color: grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .quiz_box section .option:hover {
    background-color: #5e5e5e;
  }

  .quiz_box section .option.selected {
    background-color: #5e5e5e;
  }

  .quiz_box section .option.disabled {
    pointer-events: none;
  }

  .quiz_box footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid lightgrey;
    padding: 0 30px;
  }

  .quiz_box footer .next_btn {
    display: none;
  }


/* RESULT BOX */

  .result_box {
    background-color: #36454F;
    color: white;
    width: 350px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
  }

  .result_box .result_content {
    display: flex;
    margin: 0 10px;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .result_box .result_content .text_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  .result_box .result_content .text_flex .complete_text {
    padding-bottom: 10px;
    font-family: 'Star Jedi';
  }

  .result_box .result_content .icon {
    height: 180px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result_box .result_content .icon img {
    width: 95%;
  }

  .result_box .result_content .score_text p {
    display: inline;
  }

  /* Start Quiz Button Styling */

  .start_btn button {
    font-size: 1.5rem;
    padding: .8rem 1.2rem;
    border-radius: 5px;
    background-color: #FFE81F;
    font-family: 'Distant Galaxy';
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .start_btn button:hover {
    background: #dbc500;
  }

  /* More button styles */

  .buttons {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-top: 1px solid lightgray;
  } 

  .button_style {
    background-color: #FFE81F;
    font-family: 'Distant Galaxy';
    height: 30px;
    width: 120px;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button_style:hover {
    background: #dbc500;
  }
